input{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:16px;
    border: none;
    border-radius: 20px;
    width:500px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.logo{
    object-position: center;
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-left:150px;
}