 p {
    font-family : verdana;
    } 

    .get-started{
        background-color : rgb(46, 161, 28);
        color : white;
        height :40px;
        width :120px;
        border-radius: 5px;
        
        border: none;
        font-size: 15px;
        margin-top: 8px;
    }
    .course-name{
        font-size: 20px;
        font-weight:bold;
        margin-bottom: 5px;
    }
    .level{
        color: grey;
        font-size: 15px;
        margin-top: 5px;
    }
    .description{
        font-size: 15px;
        margin-top: 20px;
        line-height: 22px;
        width: 280px;
    }
